<link rel="stylesheet" type="text/css" href="/css/home.css">

<h1>This codeial <%=title%>.</h1>

<section id="feed">
  <section id="create-post">
      <h3>Create Post</h3>
      <form action="/posts/create-post" method="POST">
          <textarea name="content" id="post-content" cols="75" rows="3" placeholder="Write something here..."></textarea>
          <input type="submit" value="Post">
      </form>
  </section>
  <section id="post-feed">
      <%for(post of posts.reverse()){%>
      <div class="card">
          <div class="card-header"><a href="#"><%=post.user.name%></a></div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p><%=post.content%></p>
              <footer class="blockquote-footer">Posted by <cite title="Source Title"><%=post.user.name%></cite></footer>
            </blockquote>
          </div>
          <div class="dropdown d-flex justify-content-end m-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Comments
            </button>
            <ul class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton1">
              <form action="/comments/create-comment" method="POST" class="row g-3">
                <div class="col-auto">
                  <label for="comment-box" class="visually-hidden">Comment</label>
                  <input type="text" class="form-control" id="comment-box" name="content" placeholder="Comment...">
                </div>
                <input type="hidden" name="post" value=<%=post.id%>>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-3">Post</button>
                </div>
              </form>
            </ul>
            <div class="comments__list">
              <ul>
                <%for (comment of post.comments){%>
                <li>
                  <%=comment.content%>
                  <br>
                  <small><%=comment.user.name%></small>
                </li>
                <%}%>
              </ul>
            </div>
          </div>
      </div>
      <%}%>
  </section>
</section>